@page "/"
<div class="welcome">
    <Carousel Autoplay="TimeSpan.FromSeconds(2)">
        <CarouselSlick>
            <Image Src="https://img1.baidu.com/it/u=2531445773,3033373773&fm=253&fmt=auto&app=138&f=JPEG?w=600&h=400" />
        </CarouselSlick>
        <CarouselSlick>
            <Image Src="https://img2.baidu.com/it/u=807534487,1470770624&fm=253&fmt=auto&app=138&f=JPEG?w=915&h=500" />
        </CarouselSlick>
    </Carousel>
</div>
<style>
    .welcome{
        background:#FFFFFF;
        margin:20px;
    }
</style>
